<aside class="bg-side-left text-white d-flex flex-column align-items-center p-3"
    style="width: 250px; min-height: 100vh;">

    <div class="text-center mb-4 pt-5">
        <h6 class="mb-0">
            <%= nombreCompleto %>
        </h6>
        <small>
            <%= rol %>
        </small>
        <hr class="bg-white w-100 my-3" />
    </div>

    <nav class="nav flex-column w-100">
        <span class="nav-link text-white fw-bold">Opciones</span>
        <a class="nav-link text-white" href="/home">Inicio</a>
        <a class="nav-link text-white" href="/usuarios">Usuarios</a>
        <a class="nav-link text-white" href="/iglesias">Iglesias</a>
        <a class="nav-link text-white" href="/personas">Personas</a>
        <a class="nav-link text-white" href="/proveedores">Proveedores</a>
        <a class="nav-link text-white" href="/inventario">Inventario</a>
        <a class="nav-link text-white" href="/prestamos">Prestamos</a>
        <a class="nav-link text-white" href="/devoluciones">Devoluciones</a>
        <a class="nav-link text-white" href="/mantenimientos">Mantenimientos</a>
        <a href="/logout">Cerrar Sesión</a>
    </nav>
</aside>